{% extends 'layoutAfterLogin.html' %}

{% block title %}
Flashcards
{% endblock %}


{% block head %}
  <style>

      .dropdown-content {
          display: none;
          position: absolute;
          background-color: #f9f9f9;
          border-radius: 25px;
          min-width: 130px;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          z-index: 1;
      }

      .dropdown-content a {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
          font-family: 'Indie Flower', cursive;
      }

      .dropdown-content a:hover {
        background-color: #f1f1f1;
        border-radius: 25px;
      }

      .dropdown:hover .dropdown-content {
          display: block;
      }

      .dropdown:hover .dropbtn {
          background-color: #3e8e41;
      }

      button {
          background-color: #4CAF50; /* Green */
          border: none;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
      }

      select {
          background-color: #4CAF50; /* Green */
          border: none;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
      }

      table, td, th {
          border: 1px solid #ddd;
          text-align: left;
      }

      table {
          border-collapse: collapse;
          width: 100%;
      }

      th, td {
          padding: 15px;
      }

      .jumbotron{
         height:100%;
         width:100%;
         background-color:#6CCA98;
      }

      .FlashcardWord{
        height:100%;
        width:300px;
        background-color:#6CCA98;
      }

      body{
          margin-top: 100px;
          background: #FFFFFF;
          font-family: 'Titillium Web', sans-serif;
      }

      h2,h3,h4,h5,h6{
              font-family: Poppins;
      }

      h1{
        font-family: 'Indie Flower', cursive;
      }

      p{
          font-family: Roboto;
          font-size: 16px;
      }

      .shrinkCardFront, .shrinkCardBack {
        width: 100%;
        height:100%;
        background-color: white;
        border-radius:25px;
        vertical-align: middle;
        display: inline-block;
      }

      .shrinkCardFront h2,.shrinkCardBack h2{
        font-size: 20px;
      }

      .card {
        width: 100%;
        height: 250px;
        margin: 20px;
      }
      .front, .back, .other-front, .other-back {
        border: 2px gray solid;
        padding: 10px;
      }
      .front, .other-front {
        background-color: #F9CF88;
      }
      .back, .other-back {
        background-color: #F9CF88;
      }

      .previous span, .next span{
        margin-left: 25px;
        margin-top: 100px;
        color:black;
        font-size:50px;
        vertical-align:middle;
        display: inline-block;
      }

  </style>
{% endblock %}


{% block body %}
<div class="row">
  <div class="col-md-3 col-sm-3">

  </div>
  <div class="col-md-1 col-sm-1">
    <div class="previous">
        <a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a>
    </div>
  </div>
  <div class="col-md-4 col-sm-4">
    <!---
    <div id="card-1" class="card">
      <div class="other-front">
          Front: Cursus aliquet mus et sociis, placerat adipiscing a placerat magnis integer nisi lacus in, turpis porttitor? Lectus nunc dis in porta, montes lacus. Tortor. Pid sit nisi eu nec aenean.
      </div>
      <div class="other-back">
          <a href="http://google.com">link</a>
          Back: Dolor scelerisque ridiculus! Mus? Augue, montes, montes proin rhoncus vel a parturient dapibus eros? Penatibus nascetur. In turpis nisi elementum nascetur habitasse augue egestas, in ac rhoncus odio porttitor turpis.
          Back: Dolor scelerisque ridiculus! Mus? Augue, montes, montes proin rhoncus vel a parturient dapibus eros? Penatibus nascetur. In turpis nisi elementum nascetur habitasse augue egestas, in ac rhoncus odio porttitor turpis.
      </div>
    </div>
    --->
    <center>
    <div id="card-2" class="card">
      <div class="front" style="border-radius:25px;">
        <hr><center>
          <h2 style="color:white; vertical-align: middle; display: inline-block;">Word</h2>
          <br>
        <hr>
        <div style="height:100%; width:100%; background-color:#EF861E;border-radius:30px">
          <p style="font-size:20px;color:white;padding:15px 0 5px 5px">Click for meaning</p>
        </div>
        </center>
      </div>
      <div class="back" style="border-radius:25px;">
        <hr><center>
          <h2 style="color:white">Word</h2>
        </center><hr>
        <center>
          <p>Meaning</p>
        </center>
      </div>
    </div>
  </center>
  </div>
  <div class="col-md-1 col-sm-1">
    <div class="next">
        <a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
  </div>
  <div class="col-md-3 col-sm-3">

  </div>
</div>
<hr><br>
<div class="row">
  <div class="col-md-2 col-sm-2">

  </div>
  <div class="col-md-8 col-sm-8">
    <div class="jumbotron">
      <div class="row">
        <div class="col-md-2 col-sm-2">
          <div class="flashcardwords">
            <center>
              <div class="shrinkCardFront">
                <h2>Word</h2>
              </div>
            </center>
          </div>
        </div>
        <div class="col-md-2 col-sm-2">
          <div class="flashcardwords">
            <center>
              <div class="shrinkCardFront">
                <h2>Word</h2>
              </div>
            </center>
          </div>
        </div>
        <div class="col-md-2 col-sm-2">
          <div class="flashcardwords">
            <center>
              <div class="shrinkCardFront">
                <h2>Word</h2>
              </div>
            </center>
          </div>
        </div>
        <div class="col-md-2 col-sm-2">
          <div class="flashcardwords">
            <center>
              <div class="shrinkCardFront">
                <h2>Word</h2>
              </div>
            </center>
          </div>
        </div>
        <div class="col-md-2 col-sm-2">
          <div class="flashcardwords">
            <center>
              <div class="shrinkCardFront">
                <h2>Word</h2>
              </div>
            </center>
          </div>
        </div>
        <div class="col-md-2 col-sm-2">
          <div class="flashcardwords">
            <center>
              <div class="shrinkCardFront">
                <h2>Word</h2>
              </div>
<!---              <br><br>
              <div class="shrinkCardBack">
                <h2>Word</h2>
-->              </div>
            </center>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2 col-sm-2">

  </div>
</div>


    <br><hr><br>
  <script>

    $(function(){
      $("#card-1").flip({
        axis: "y", // y or x
        reverse: false, // true and false
        trigger: "hover", // click or hover
        speed: '500',
        front: $('.other-front'),
        back: $('.other-back'),
        autoSize: false
      });
      $("#card-2").flip({
        axis: "x",
        reverse: true,
        trigger: "click"
      });
    });

/*    $(function(){
      $(".flashcardwords").flip({
        trigger:"hover",
        speed:'250',
        front: $('.shrinkCardFront'),
        back: $('.shrinkCardBack'),
        autoSize: false
      });
    });*/

    $(document).ready(function(){
      $(".flashcardwords").load(function(){
        $(".flashcardwords").html("<center><div class='shrinkCardFront'><h2>Word</h2></div></center>")
      });
    });

  </script>
{% endblock %}

{% block footer%}
<footer>
    <p class="text-center">Copyright &copy IndoLingo</p>
</footer>
{%endblock%}
