{% extends 'layoutAfterLogin.html' %}

{% block title %}
Flashcards
{% endblock %}


{% block head %}
  <style>

      .dropdown-content {
          display: none;
          position: absolute;
          background-color: #f9f9f9;
          border-radius: 25px;
          min-width: 130px;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          z-index: 1;
      }

      .dropdown-content a {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
          font-family: 'Indie Flower', cursive;
      }

      .dropdown-content a:hover {
        background-color: #f1f1f1;
        border-radius: 25px;
      }

      .dropdown:hover .dropdown-content {
          display: block;
      }

      .dropdown:hover .dropbtn {
          background-color: #3e8e41;
      }

      button {
          background-color: #4CAF50; /* Green */
          border: none;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
      }

      select {
          background-color: #4CAF50; /* Green */
          border: none;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
      }

      table, td, th {
          border: 1px solid #ddd;
          text-align: left;
      }

      table {
          border-collapse: collapse;
          width: 100%;
      }

      th, td {
          padding: 15px;
      }

      .jumbotron{
         height:100%;
         width:100%;
         background-color:#6CCA98;
      }

      .FlashcardWord{
        height:100%;
        width:300px;
        background-color:#6CCA98;
      }

      body{
          margin-top: 100px;
          background: #FFFFFF;
          font-family: 'Titillium Web', sans-serif;
      }

      h2,h3,h4,h5,h6{
              font-family: Poppins;
      }

      h1{
        font-family: 'Indie Flower', cursive;
      }

      p{
          font-family: Roboto;
          font-size: 16px;
      }

      .shrinkCardFront, .shrinkCardBack {
        width: 100%;
        height:100%;
        background-color: white;
        border-radius:25px;
        vertical-align: middle;
        display: inline-block;
        cursor: pointer;
      }

      .shrinkCardFront h2,.shrinkCardBack h2{
        font-size: 20px;
      }

      .card {
        width: 100%;
        height: 250px;
        margin: 20px;
      }
      .front, .back, .other-front, .other-back {
        border: 2px gray solid;
        padding: 10px;
      }
      .front, .other-front {
        background-color: #F9CF88;
      }
      .back, .other-back {
        background-color: #F9CF88;
      }

      .previous span, .next span{
        margin-left: 25px;
        margin-top: 100px;
        color:black;
        font-size:50px;
        vertical-align:middle;
        display: inline-block;
      }

  </style>
{% endblock %}


{% block body %}
<div class="row" id="flashcardrow">
  <div class="col-md-3 col-sm-3">
    <!---Empty div-->
  </div>
  <div class="col-md-1 col-sm-1">
    <!--<div class="previous">
        <a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a>
    </div>-->
  </div>
  <div class="col-md-4 col-sm-4">
    <!---
    <div id="card-1" class="card">
      <div class="other-front">
          Front: Cursus aliquet mus et sociis, placerat adipiscing a placerat magnis integer nisi lacus in, turpis porttitor? Lectus nunc dis in porta, montes lacus. Tortor. Pid sit nisi eu nec aenean.
      </div>
      <div class="other-back">
          <a href="http://google.com">link</a>
          Back: Dolor scelerisque ridiculus! Mus? Augue, montes, montes proin rhoncus vel a parturient dapibus eros? Penatibus nascetur. In turpis nisi elementum nascetur habitasse augue egestas, in ac rhoncus odio porttitor turpis.
          Back: Dolor scelerisque ridiculus! Mus? Augue, montes, montes proin rhoncus vel a parturient dapibus eros? Penatibus nascetur. In turpis nisi elementum nascetur habitasse augue egestas, in ac rhoncus odio porttitor turpis.
      </div>
    </div>
    --->
    <center>
    <div id="card-2" class="card">
      <div class="front" style="border-radius:25px;">
        <hr><center>
          <h2 class="flashcardworddisplay" style="color:white; vertical-align: middle; display: inline-block;"></h2>
          <br>
        <hr><br>
        <div style="height:50px; width:100%; background-color:#EF861E;border-radius:30px">
          <p id="displaytext" style="font-size:20px;color:white;padding:15px 0 5px 5px"></p>
        </div>
        </center>
      </div>
      <div class="back" style="border-radius:25px;">
        <hr><center>
          <h2 class="flashcardworddisplay" style="color:white"></h2>
        </center><hr>
        <center>
          <p id="flashcardmeaningdisplay" style="font-size:20px;color:white;padding:5px 0 5px 5px"></p>
        </center>
      </div>
    </div>
  </center>
  </div>
  <div class="col-md-1 col-sm-1">
    <!--<div class="next">
        <a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>-->
  </div>
  <div class="col-md-3 col-sm-3">

  </div>
</div>
<hr><br>

<div class="row">
  <div class="col-md-2 col-sm-2">
    <!---Empty row-->
  </div>

  <div class="col-md-8 col-sm-8">
    <div class="jumbotron" id="addrow">
      <div class="row" id="addword">
        <!---->
      </div>
    </div>
  </div>
  <div class="col-md-2 col-sm-2">
    <!--Empty div-->
  </div>
</div>
    <br><hr><br>


  <script>

/*    $(function(){
      $(".flashcardwords").flip({
        trigger:"hover",
        speed:'250',
        front: $('.shrinkCardFront'),
        back: $('.shrinkCardBack'),
        autoSize: false
      });
    });*/
    function populate(idd, mean){
      //alert($(idd).html());
      $(".flashcardworddisplay").text($(idd).html());
      //alert($("#displaytext").text(meaning));
      //alert(mean);
      $("#displaytext").text("Click for meaning");
      $("#flashcardmeaningdisplay").text(mean);
    }

      window.onload = function(){
        $("#card-1").flip({
          axis: "y", // y or x
          reverse: false, // true and false
          trigger: "hover", // click or hover
          speed: '500',
          front: $('.other-front'),
          back: $('.other-back'),
          autoSize: false
        });
        $("#card-2").flip({
          axis: "x",
          reverse: true,
          trigger: "click"
        });

        $.ajax({
          type : 'POST',
          url : '/flashcardwords',
          contentType: "application/json; charset=utf-8"
        })
        .done(function(data) {
          if (data.error) {
            $('#flashcardrow').hide();
            $('#addword').text(data.error);
          }
          else {
            //var obj = data.words.replace("[","|").replace("]","|").split("|");
            //obj[1]+="\"word\":joy,\"meaning\":\"a feeling of great pleasure and happiness.\"";
            var obj = data.words;
            //alert(obj);
            var object = JSON.parse(obj);

            //alert(object[0].meaning);
            //alert(object["word"]);
            for(i=0;i<object.length;i++){
              mean = object[i].meaning.split("'").join("");
              //alert(object[i].meaning);
              //alert(mean);
              $("#addword").append("<div class='col-md-4 col-sm-4'><div class='flashcardwords'><center><div class='shrinkCardFront'><h2 id='"+i+"' onclick='populate("+"\"#"+i+"\""+","+"\"" +mean+"\""+")'>" +object[i].word+"</h2></div></center></div></div>");



              if(i%3==2){
                  $("#addword").append("<br><br><br><br>");
              }
            }
          }
        });
      };

  </script>
{% endblock %}

{% block footer%}
<footer>
    <p class="text-center">Copyright &copy IndoLingo</p>
</footer>
{%endblock%}
