{% extends 'layoutHomePage_ta.html' %}

{% block title %}
பாரதமொழி
{% endblock %}

{% block head %}
    <link rel="icon" href="/static/tlci.png" type="image/gif" sizes="16x16">

    <style>
    body{
        margin-top: 100px;
        background: #FFFFFF;
        font-family: 'Titillium Web', sans-serif;
    }

    h2,h3,h4,h5,h6{
            font-family: Poppins;
    }

    h1{
      font-family: 'Indie Flower', cursive;
    }

    p{
        font-family: Roboto;
        font-size: 16px;
    }

    /*.navbar-default{
        background: #fff;
        border:0;
        font-family: 'Poppins', sans-serif;

    }

    .navbar-brand{
        font-size: 20px;
        color: #000 !important;
        font-weight: bold;
    }

    .navbar{
      background-color: #00BFFF;
    }*/

    a {
      text-decoration: none;
      color: #00BFFF;
      -webkit-transition: .5s ease;
      transition: .5s ease;
      font-family: 'Indie Flower', cursive;
    }

    a:hover {
      color: 	#4169E1;
    }

    #showcase .list-lesson p {
      height:80px;
      overflow:hidden;
      color:#999;
      text-overflow:ellipsis;
      margin-bottom:10px
    }

    #showcase p{
      font-size: 25px;
    }



    #showcase .list-lesson-item.past .inner {
      -webkit-box-shadow:0 0 10px rgba(0,0,0,0.15);
      -moz-box-shadow:0 0 10px rgba(0,0,0,0.15);
      box-shadow:0 0 10px rgba(0,0,0,0.15)
    }

    #showcase .list-lesson-item .inner {
      -webkit-border-radius:10px;
      -moz-border-radius:10px;
      border-radius:10px;
      margin:15px;
      padding:20px
    }

    #showcase h1{
        font-size: 100px;
        margin-bottom: 30px;

    }

    #showcase img{

        width: 80%;
        margin-left: 60px;
    }

    #showcase .showcase-right{
        margin-top: 90px;
    }

    #testimonial{
        background: #f1f1f1;
        padding: 50px 0 30px 0;
        text-align: center;
        margin-top: 40px;
    }

    #testimonial p{
        font-size: 32px;
        font-family: 'Josefin-sans';
        color: #000;
    }

    #testimonial p.customer{
        font-size: 20px;
        color: #666;
    }

    #about1 {
            margin-top: 90px;
    }


    #about1 img{
            width: 50%;
            margin-left: 60px;
    }

    #about2 {
            margin: 20px 0 60px 0;
    }

    #contact{
        /*background: url(../img/contact.png);*/
        padding: 30px;
        color: #000;
        border-top: #333 7px solid;
        border-bottom: #333 7px solid;
    }

    footer{
        padding: 30px;
    }

    #lesson-showcase img{
      width: 50%;
      margin-left: 60px;

    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        border-radius: 25px;
        min-width: 130px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        font-family: 'Indie Flower', cursive;
    }

    .dropdown-content a:hover {
      background-color: #f1f1f1;
      border-radius: 25px;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: #3e8e41;
    }


    </style>


{% endblock %}

{% block body %}
<section id="showcase">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="showcase-left" >
                    <img src="{{url_for('static', filename='intro-bg.jpg')}}" alt="IndoLingo">
                    <!---<img src="/static/intro-bg.jpg" alt="IndoLingo">-->
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="showcase-right">
                    <h1><span style="color:orange">பாரத</span><span style="color:green">மொழி</span></h1>
                    <p>எங்கும், எந்த நேரத்திலும், ஒரு மொழியை கற்க வேண்டும்! வாருங்கள், ஒரு இந்திய மொழியை கற்றுக்கொள்ளலாம்.</p>
                </div>
                <br>
                <a class="btn btn-default showcase-btn" style="background-color:#1ab188">மேலும் தெரிந்துகொள்</a>

            </div>

        </div>

    </div>
</section>

<section id="testimonial">
    <div class="container">
        <p>"நான் எப்போதும் ஹிந்தி கற்றுக்கொள்ள விரும்பினேன். நான் டெலிவியில் வாழ்கிறேன். என் நண்பர்கள் பலர் தமிழர்கள். தமிழ் மிகவும் இனிமையான மொழி. भरतभाषा ने जीना आसान कर दिया है अब मेरा | धन्यवाद |"</p>
        <p class="customer">Ramanan, BITSP</p>
        <p>"मुझे पहली बार तमिल सीखने को मिला है | मैं तमिल नाडु में बस्ता हूँ और मुझे भाषा की बोहोत दिक्कत होती थी | भरतभाषा से तमिल बोहोत आसानी से सीख सकतें हैं और दो महीनों में सरल तमिल बोल सकतें हैं | भरतभाषा ने जीना आसान कर दिया है अब मेरा | धन्यवाद |"</p>
        <p class="customer">Easwaran, IITM</p>
    </div>

</section>

<section id="about1">
    <div class="container">
        <div class="row">
            <div class="col-md-1 col-sm-1">

            </div>
            <div class="col-md-5 col-sm-5">
                <div class="info-left">
                    <img src="{{url_for('static', filename='tlci.png')}}" alt="IndoLingo-Logo">

                </div>
            </div>
            <div class="col-md-5 col-sm-5">
                <div class="info-right">
                    <h2>हमारे बारे में जानिये </h2>
                    <p>हम आपको भारत में सबसे अधिक बोली जाने वाली भाषाओँ को प्रस्तुत करते हैं | हमारा पाठ्यक्रम भाषा सीखना एकदम सरल बनता है | भारत की खूबसूरती महसूस करे, इसके भाषाओ को सीखे, भारत को कुशल बनाएं | और जान्ने के लिए <a href="#">इधर दबाएं</a></p>
                    <br>
                    <a class="btn btn-default btn">और जानिए</a>
                </div>
            </div>
            <div class="col-md-1 col-sm-1">

            </div>
        </div>

    </div>

</section>
<hr>
<section id="about2">
    <div class="container">
      <div class="row">
          <center><h2 class="info-left">जल्द ही में उपलब्ध...</h2></center><br><br>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <center>
            <div class="info-right">
              <a href="#"><img src="{{url_for('static', filename='windowsstore.png')}}" alt="android-Logo" alt="" style="height:50%; width:50%"></a>
          </div>
        </center>
        </div>
        <div class="col-md-4 col-sm-4">
            <center>
              <div class="info-right">
                <a href="#"><img src="{{url_for('static', filename='playstore.png')}}" alt="android-Logo" alt="" style="height:50%; width:50%"></a>
            </div>
          </center>
        </div>
        <div class="col-md-4 col-sm-4">
            <center>
              <div class="info-right">
                <a href="#"><img src="{{url_for('static', filename='appstore.png')}}" alt="appstore-Logo" alt="" style="height:50%; width:50%"></a>
            </div>
          </center>
        </div>
      </div>
    </div>

</section>

<section id="contact">
    <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-3">

          </div>
            <div class="col-md-6 col-sm-6">
              <div class="row">
                <h1>हमसे संपर्क करें:</h1>
              </div>
                <form>
                    <div class="form-group">
                        <label for="email">ईमेल आईडी:</label>
                        <input type="email" class="form-control" id="email">
                    </div>
                    <div class="form-group">
                        <label for="pwd">फ़ोन नंबर:</label>
                        <input type="password" class="form-control" id="pwd">
                    </div>
                      <button type="submit" class="btn btn-default">जमा करें</button>
                </form>
            </div>
            <div class="col-md-3 col-sm-3">

            </div>

        </div>

    </div>

</section>

    <script
      src="https://code.jquery.com/jquery-3.2.1.js"
      integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
      crossorigin="anonymous"></script>
    <script src= "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script>
        window.sr = ScrollReveal();
        sr.reveal('.navbar',{
            duration: 2000,
            origin: 'bottom'
        });

        sr.reveal('.showcase-right',{
            duration: 2000,
            origin: 'right',
            distance:'300px'
        });
        sr.reveal('.showcase-left',{
            duration: 2000,
            origin: 'top',
            distance:'300px'
        });
        sr.reveal('.showcase-btn',{
            duration: 2000,
            delay:2000,
            origin: 'bottom'
        });
        sr.reveal('#testimonial div',{
            duration: 2000,
            origin: 'bottom'
        });
        sr.reveal('.info-right',{
            duration: 2000,
            origin: 'right',
            distance:'300px',
            viewFactor:0.2
        });
        sr.reveal('.info-left',{
            duration: 2000,
            origin: 'left',
            distance:'300px',
            viewFactor:0.2
        });

    </script>

    {% endblock %}

{% block footer%}
<footer>
    <p class="text-center">कॉपीराइट &copy भरतभाषा</p>
</footer>
{%endblock%}
