{% extends 'layoutlesson.html'%}

{% block title %}
Lesson 1
{% endblock %}

{% block head %}

    <style>
    body{
        margin-top: 100px;
        background: #D9D8D8;
        font-family: 'Titillium Web', sans-serif;
    }

    h2,h3,h4,h5,h6{
            font-family: Poppins;
    }

    h1{
      font-family: 'Indie Flower', cursive;
    }

    p{
        font-family: Roboto;
        font-size: 16px;
    }

    /*.navbar-default{
        background: #fff;
        border:0;
        font-family: 'Poppins', sans-serif;

    }

    .navbar-brand{
        font-size: 20px;
        color: #000 !important;
        font-weight: bold;
    }

    .navbar{
      background-color: #00BFFF;
    }*/

    a {
      text-decoration: none;
      color: #00BFFF;
      -webkit-transition: .5s ease;
      transition: .5s ease;
      font-family: 'Indie Flower', cursive;
    }

    a:hover {
      color: 	#4169E1;
    }

    #showcase .list-lesson p {
      height:80px;
      overflow:hidden;
      color:#999;
      text-overflow:ellipsis;
      margin-bottom:10px
    }



    #showcase .list-lesson-item.past .inner {
      -webkit-box-shadow:0 0 10px rgba(0,0,0,0.15);
      -moz-box-shadow:0 0 10px rgba(0,0,0,0.15);
      box-shadow:0 0 10px rgba(0,0,0,0.15)
    }

    #showcase .list-lesson-item .inner {
      -webkit-border-radius:10px;
      -moz-border-radius:10px;
      border-radius:10px;
      margin:15px;
      padding:20px
    }

    #showcase h1{
        font-size: 50px;
        margin-bottom: 30px;

    }

    #showcase img{

        width: 80%;
        margin-left: 60px;
    }

    #showcase .showcase-right{
        margin-top: 90px;
    }

    #testimonial{
        background: #f1f1f1;
        padding: 50px 0 30px 0;
        text-align: center;
        margin-top: 40px;
    }

    #testimonial p{
        font-size: 32px;
        font-family: 'Josefin-sans';
        color: #000;
    }

    #testimonial p.customer{
        font-size: 20px;
        color: #666;
    }

    #about1 {
            margin-top: 90px;
    }


    #about1 img{
            width: 50%;
            margin-left: 60px;
    }

    #about2 {
            margin: 20px 0 60px 0;
    }

    #contact{
        /*background: url(../img/contact.png);*/
        padding: 30px;
        color: #000;
        border-top: #333 7px solid;
        border-bottom: #333 7px solid;
    }

    footer{
        padding: 30px;
    }

    #lesson-showcase img{
      width: 50%;
      margin-left: 60px;

    }

    .loginHomeDetails{
      border-radius: 25px;
      background: #FEFEFE;
      border: 2px solid #FEFEFE;
      padding: 20px;
      width: 100%;
      height: 100%;
    }

    .imageAdjust{
      background-size: 95px;
      height: 85px;
      width: 75px;
    }

    .textAdjust{
      display: inline-block;
      padding: 10px;
      vertical-align: middle;
      width: 215px;
      background-color: #FEE192;
      border-radius: 25px;
    }

    .rightofslice{
      color: #999;
      float: right;
      width: 100px;
    }

    .daystreaknumber{
      color: #faa919;
      font-size: 40px;
      margin: 20px 185px 12px;
    }

/*    .dropbtn {
        background-color: #4CAF50;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }
*/
    /*.dropdown {
        position: relative;
        display: inline-block;
    }*/

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        border-radius: 25px;
        min-width: 130px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        font-family: 'Indie Flower', cursive;
    }

    .dropdown-content a:hover {
      background-color: #f1f1f1;
      border-radius: 25px;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: #3e8e41;
    }

    #learnings{
      background-color: white;
      border-radius: 25px;
    }

    #ads{
      background-color: white;
      border-radius: 25px;
    }

    </style>

    <link rel="stylesheet" href="{{url_for('static', filename='css/circle.css')}}">
{% endblock %}

{% block body %}
<section class="showcase">
  <div class="container">
    <div class="col-md-8 col-sm-8" id="learnings">
        <div class="lessonheader">
          <span class="glyphicon glyphicon-education" style="font-size:50px;">
          <h3>Basics 1</h3>
          <h5>Strength: 1/5</h5>
        </div>
    </div>
    <div class="col-md-4 col-sm-4" id="ads">
      <center>This section would contain the advertisements.</center>
    </div>
  </div>
</section>
{% endblock %}

{% block footer%}
<br><hr><br>
<footer>
    <p class="text-center">Copyright &copy IndoLingo</p>
</footer>
{%endblock%}
