{% extends 'layout.html' %}

{% block title %}
Login/SignUp
{% endblock %}

{% block head %}
    <!--CSS Starts-->
    <style>
        *, *:before, *:after {
          box-sizing: border-box;
        }

        html {
          overflow-y: scroll;
        }

        .navbar{
          background-color: #00BFFF;
        }

        body {
          margin-top: 100px;
          background: #FFFFFF;
          font-family: 'Titillium Web', sans-serif;
        }

        h1 {
          font-family: 'Indie Flower', cursive;
        }

        a {
          text-decoration: none;
          color: #00BFFF;
          -webkit-transition: .5s ease;
          transition: .5s ease;
          font-family: 'Indie Flower', cursive;
        }

        a:hover {
          color: 	#4169E1;
        }

        .form {
          background: rgba(19, 35, 47, 0.9);
          padding: 40px;
          max-width: 600px;
          margin: 40px auto;
          border-radius: 4px;
          box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
        }

        .tab-group {
          list-style: none;
          padding: 0;
          margin: 0 0 40px 0;
        }
        .tab-group:after {
          content: "";
          display: table;
          clear: both;
        }
        .tab-group li a {
          display: block;
          text-decoration: none;
          padding: 15px;
          background: rgba(160, 179, 176, 0.25);
          color: #a0b3b0;
          font-size: 20px;
          float: left;
          width: 50%;
          text-align: center;
          cursor: pointer;
          -webkit-transition: .5s ease;
          transition: .5s ease;
        }
        .tab-group li a:hover {
          background: 	#4169E1;
          color: #ffffff;
        }
        .tab-group .active a {
          background: #00BFFF;
          color: #ffffff;
        }

        .tab-content > div:last-child {
          display: none;
        }

        h1 {
          text-align: center;
          color: #ffffff;
          font-weight: 300;
          margin: 0 0 40px;
        }

        label {
          position: absolute;
          -webkit-transform: translateY(6px);
                  transform: translateY(6px);
          left: 13px;
          color: rgba(255, 255, 255, 0.5);
          -webkit-transition: all 0.25s ease;
          transition: all 0.25s ease;
          -webkit-backface-visibility: hidden;
          pointer-events: none;
          font-size: 22px;
          font-family: 'Love Ya Like A Sister', cursive;
        }

        label .req {
          margin: 2px;
          color: #00BFFF;
        }

        label.active {
          -webkit-transform: translateY(50px);
                  transform: translateY(50px);
          left: 2px;
          font-size: 14px;
        }
        label.active .req {
          opacity: 0;
        }

        label.highlight {
          color: #ffffff;
        }

        input, textarea {
          font-size: 22px;
          display: block;
          width: 100%;
          height: 100%;
          padding: 5px 10px;
          background: none;
          background-image: none;
          border: 1px solid #a0b3b0;
          color: #ffffff;
          border-radius: 0;
          -webkit-transition: border-color .25s ease, box-shadow .25s ease;
          transition: border-color .25s ease, box-shadow .25s ease;
        }
        input:focus, textarea:focus {
          outline: 0;
          border-color: #00BFFF;
        }

        textarea {
          border: 2px solid #a0b3b0;
          resize: vertical;
        }

        .field-wrap {
          position: relative;
          margin-bottom: 40px;
        }

        .top-row:after {
          content: "";
          display: table;
          clear: both;
        }
        .top-row > div {
          float: left;
          width: 48%;
          margin-right: 4%;
        }
        .top-row > div:last-child {
          margin: 0;
        }

        .button {
          border: 0;
          outline: none;
          border-radius: 0;
          padding: 15px 0;
          font-size: 2rem;
          font-weight: 600;
          text-transform: uppercase;
          letter-spacing: .1em;
          background: #00BFFF;
          color: #ffffff;
          -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
          -webkit-appearance: none;
        }
        .button:hover, .button:focus {
          background: #179b77;
        }

        .button-block {
          display: block;
          width: 100%;
        }

        .forgot {
          margin-top: -20px;
          text-align: right;
        }


            .dropdown-content {
                display: none;
                position: absolute;
                background-color: #f9f9f9;
                border-radius: 25px;
                min-width: 130px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
            }

            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                font-family: 'Indie Flower', cursive;
            }

            .dropdown-content a:hover {
              background-color: #f1f1f1;
              border-radius: 25px;
            }

            .dropdown:hover .dropdown-content {
                display: block;
            }

            .dropdown:hover .dropbtn {
                background-color: #3e8e41;
            }


    </style> <!---CSS ends--->

{% endblock %}

{% block body %}

    <div class="form">

      <ul class="tab-group">
        <li class="tab active"><a href="#signup">Sign Up</a></li>
        <li class="tab"><a href="#login">Log In</a></li>
      </ul>

      <div class="tab-content">
        <div id="signup">
          <h1>Sign Up for Free</h1>

          <form action={{ url_for('register')}}  method=POST>
            <div class="top-row">
              <div class="field-wrap">
                <label>
                  First Name<span class="req">*</span>
                </label>
                <input type="text" required autocomplete="off" name="fname"/>
              </div>

              <div class="field-wrap">
                <label>
                  Last Name<span class="req">*</span>
                </label>
                <input type="text"required autocomplete="off" name="lname"/>
              </div>
            </div>

            <div class="field-wrap">
              <label>
                Email Address<span class="req">*</span>
              </label>
              <input type="email"required autocomplete="off" name="username"/>
            </div>

            <div class="field-wrap">
              <label>
                Set A Password<span class="req">*</span>
              </label>
              <input type="password"required autocomplete="off" name="password"/>
            </div>

            <button type="submit" class="button button-block"/>Get Started</button>

          </form>

        </div>

        <div id="login">
          <h1>Welcome Back!</h1>

          <form action={{ url_for('signin')}} method=POST>

            <div class="field-wrap">
              <label>
                Email Address<span class="req">*</span>
              </label>
              <input type="email" required autocomplete="off" name="username"/>
            </div>

            <div class="field-wrap">
              <label>
                Password<span class="req">*</span>
              </label>
              <input type="password" required autocomplete="off" name="password"/>
            </div>

            <p class="forgot"><a href="#">Forgot Password?</a></p>

            <button class="button button-block"/>Log In</button>

          </form>

        </div>

      </div><!-- tab-content -->
      <br><hr><br>
      <div class="status">
        <center><button type="submit" name="button" onclick="login()" style="border-radius:25px;          border: 0;
                  outline: none;
                  border-radius: 25px;
                  padding: 10px 10px 10px 10px;
                  background: #00BFFF;
                  color: #ffffff;">Login with facebook</button></center>

      </div>

    </div> <!-- /form -->

    <script src= "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <footer>
        <p class="text-center">Copyright &copy IndoLingo</p>
    </footer>

    <!---<script type="text/javascript" src="js/login.js"></script>-->

    <!--javascript starts-->
    <script type="text/javascript">
      $('.form').find('input, textarea').on('keyup blur focus', function (e) {

      var $this = $(this),
        label = $this.prev('label');

      if (e.type === 'keyup') {
        if ($this.val() === '') {
            label.removeClass('active highlight');
          } else {
            label.addClass('active highlight');
          }
      } else if (e.type === 'blur') {
        if( $this.val() === '' ) {
          label.removeClass('active highlight');
        } else {
          label.removeClass('highlight');
        }
      } else if (e.type === 'focus') {

        if( $this.val() === '' ) {
          label.removeClass('highlight');
        }
        else if( $this.val() !== '' ) {
          label.addClass('highlight');
        }
      }

      });

      $('.tab a').on('click', function (e) {

      e.preventDefault();

      $(this).parent().addClass('active');
      $(this).parent().siblings().removeClass('active');

      target = $(this).attr('href');

      $('.tab-content > div').not(target).hide();

      $(target).fadeIn(600);

      });

    </script>

    <script>

    //The below code initializes and sets up facebook JS sdk
      window.fbAsyncInit = function() {
        FB.init({
          appId            : '2047697108791346',
          autoLogAppEvents : true,
          xfbml            : true,
          version          : 'v2.9'
        });
        FB.AppEvents.logPageView();
        FB.getLoginStatus(function(response){
          if(response.status === 'connected'){
            document.getElementById('status').innerHTML = 'We are connected';
          }
          else if (response.status === 'not_authorized'){
            document.getElementById('status').innerHTML = 'We are not logged in';
          }
          else {
            document.getElementById('status').innerHTML = 'You are not logged into facebook';
          }
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));

       function login(){
         FB.login(function(response){
           if(response.status === 'connected'){
             window.location.replace('/loginhome');
           }
           else if (response.status === 'not_authorized'){
             window.location.replace('/login');
           }
           else {
             window.location.replace('/login');
           }
         });
       }
    </script>

{% endblock %}

{% block footer%}
<footer>
    <p class="text-center">Copyright &copy IndoLingo</p>
</footer>
{%endblock%}
